/* _modals.scss */

.modal {
  display: none;
  position: fixed;
  z-index: 1050;
  inset: 0;
  overflow: hidden;
  outline: 0;

  &-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;

    @include respond-to(sm) {
      margin: 1.75rem auto;
      max-width: 500px;
    }
  }

  &-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgb(0 0 0 / 0.2);
    border-radius: 0.3rem;
    outline: 0;
  }

  &-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);

    .close {
      padding: 1rem;
      margin: -1rem -1rem -1rem auto;
    }
  }

  &-title {
    margin-bottom: 0;
    line-height: 1.5;
  }

  &-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);

    .btn + .btn {
      margin-left: 0.5rem;
    }
  }
}
