/* _reset.scss */

/* A modern CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: $font-family-base;
}

body {
  line-height: $line-height-base;
  background-color: $light-color;
  color: $dark-color;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next { /* stylelint-disable-line selector-id-pattern */
  isolation: isolate;
}